<div class="page-header">
  <h4><%= link_to @group.name, group_path(@group) %> | Категория: <b><%= @group.cat %></b></h4>
  <small>
    <%= link_to 'редактировать', edit_group_path(@group), :class => 'label label-primary' %> 
    <%= link_to 'удалить', group_path(@group), method: :delete, data: {confirm: 'Удалить группу?'}, :class => 'label label-danger' %>
  </small><br><br>
</div>

<h4>Список учеников:</h4><br>

<% if @group.students.exists? %>
<% else %>
  Группа пуста, добавьте учеников при помощи формы внизу.
<% end %>

<% @group.students.each do |student| %>

  <b>Имя</b>: <%= student.fname %> <%= student.lname %> <%= student.sname %>

  <br>

  <b>Телефон</b>: <%= student.phone %>

  <br>

  <b>Адрес</b>: <%= student.address %>

  <br><br>

<% end %>
<hr>
<h4>Добавить ученика:</h4><br>
<%= form_for([@group, @group.students.build]) do |f| %>
  <p>
    <%= f.label :Фамилия %><br>
    <%= f.text_field :sname, :class => 'form-control' %>
  </p>

  <p>
    <%= f.label :Имя %><br>
    <%= f.text_field :fname, :class => 'form-control' %>
  </p>

  <p>
    <%= f.label :Отчество %><br>
    <%= f.text_field :lname, :class => 'form-control' %>
  </p>

  <p>
    <%= f.label :Телефон %><br>
    <%= f.text_field :phone, :class => 'form-control' %>
  </p>

  <p>
    <%= f.label :Адрес %><br>
    <%= f.text_field :address, :class => 'form-control' %>
  </p>

  <p>
    <%= f.submit 'Добавить ученика', :class => 'btn btn-primary'  %>
  </p>

<% end %>